.map {
    overflow: hidden;
    position: relative;
    display: inline-block;
  }
  
  .map::before,
  .map::after {
   content: '';
    position: absolute;
    width: 100%;
    left: 0;
  }
  .map::before {
    background-color: #B91C1C;
    height: 4px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  .map::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #fff;
  }
  
  .map:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
  .map:hover::after {
    transform: translate3d(0, 0, 0);
  }
  
  .map span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  .map:hover span {
    transform: translate3d(-200%, 0, 0);
  }
  /* button {
    align-self: center;
    background-color: #B91C1C;
    box-shadow: 10px 10px 0 #fff;
    color: var(--color-primary);
    display: block;
    font-family: system-ui;
    font-weight: 800;
    padding: 1rem 1.5rem;
    text-decoration: none;
    transition: translate box-shadow color .25s;
  }
  
  button:hover {
    box-shadow: none;
    color: #000;
    translate: 10px 10px;
  } */